# Shared Infrastructure Environment Configuration Example
MARIADB_PORT=3307
KEYCLOAK_HTTP_PORT=9080
KEYCLOAK_HTTPS_PORT=9443
CONSUL_HTTP_PORT=8500
CONSUL_SERF_LAN_PORT=8300
CONSUL_DNS_PORT=8600
KAFKA_PORT=9092
KAFKA_UI_PORT=8085
REDIS_PORT=6379
ZIPKIN_PORT=9411
