KEYCLOAK_ADMIN=admin
KEYCLOAK_ADMIN_PASSWORD=admin
KEYCLOAK_HTTP_PORT=9080
KEYCLOAK_GOOGLE_CLIENT_ID=
KEYCLOAK_GOOGLE_CLIENT_SECRET=
KEYCLOAK_SMTP_HOST=localhost
KEYCLOAK_SMTP_PORT=1025
KEYCLOAK_SMTP_FROM=no-reply@fakebook.com
KEYCLOAK_SMTP_AUTH=false
KEYCLOAK_SMTP_USER=
KEYCLOAK_SMTP_PASSWORD=
